@page
@model School.UI.Pages.SchoolClasses.IndexModel

@{
    ViewData["Title"] = "SchoolClasses";
}

<h2>SchoolClasses</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SchoolClass[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolClass[0].ClassTeacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SchoolClass)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassTeacher.FullName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.SchoolClassID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.SchoolClassID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.SchoolClassID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>